-r requirements.in

# Linting and formatting
pylint
flake8
isort
pyright

# Typing
django-stubs
lxml-stubs
types-Markdown
types-requests
types-webob
types-beautifulsoup4
types-requests-oauthlib
types-lxml

# Debugging
pudb
python-memcached
