-r requirements.in

# Linting and formatting
pylint
mypy
flake8
isort
pyright

# Typing
django-stubs
lxml-stubs
types-Markdown
types-requests
types-webob
types-beautifulsoup4
types-requests-oauthlib
